<div class="row">
  <div  class="col-md-6 col-lg-6" style="margin-bottom: 50px">
    <ng-select *ngIf="clients" [items]="clients" bindLabel="name" placeholder="Seleccione el cliente" [multiple]="false"
      maxSelectedItems="3" (add)="onAdd($event)" (add)="onRemove($event)" (change)="onChange($event)">
    </ng-select>
  </div>
</div>
<hr>
<div class="row">
  <div  class="container col-lg-12">
    <div *ngIf="message" class="alert alert-info alert-dismissible">
      <a href="#" (click)="closeAlet()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Información pagos!</strong> {{message}}
  </div>
</div>
</div>

<div style="margin-top: 80px;"  *ngIf="showFormFront" class="row loader-center">
  <div class="loader"></div>
</div>

  <div *ngIf="spinnerr" style="margin-left: 50%; margin-top: 13%;" class="loader"></div>


<div style="margin-top: 50px" class="row" style="margin-left: 5px; margin-right: 5px">
  <div *ngIf="payments.length !=0" class="col-md-12 col-lg-12 col-xs-12">
    <table id="t" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered">
      <thead>
        <tr>
          <th style="width: 3%">ID</th>
          <th style="width: 10%">Fecha Pago</th>
          <th style="width: 15%">Valor</th>
          <th style="width: 12%">Interes</th>
          <th style="width: 10%">Fecha Cuota</th>
          <th style="width: 15%">Balance Prestamo</th>
          <th style="width: 11%">Estado Pago</th>
        </tr>
      </thead>
      <tbody *ngIf="payments.length > 0">
        <tr class="altura" *ngFor="let payments of payments; let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngIf="payments.dateDeposit == 'null' || payments.dateDeposit == null; else thenBlock">
            Pendiente
          </td>
          <td>{{ payments.amount | number: "1.2-2" }}</td>
          <td>{{ payments.interest | number: "1.2-2" }}</td>
          <td>
            {{ payments.nextDatePayment | date: "yyyy" }}-{{payments.nextDatePayment | date: "MM"}}-{{ payments.nextDatePayment | date: "dd" }}
          </td>
          <td>{{ payments.balanceLoand | number: "1.2-2" }}</td>
          <td *ngIf="statusPaymenDate(payments.statusDeposit) == 'Pagado'; else thenBlock2">
            <div class="style-interest-pagado">Pagado</div>
          </td>
          <ng-template #thenBlock>
            <td>
              {{ payments.dateDeposit | date: "yyyy" }}-{{payments.dateDeposit | date: "MM"}}-{{ payments.dateDeposit | date: "dd" }}
            </td>
          </ng-template>
          <ng-template #thenBlock2>
            <td>
              <div class="style-interest-pendiente">Pendiente</div>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>


