.cursor-pinter {
  cursor: pointer;
}

.button-magin {
  margin-left: 2px;
}

.style-interest {
  background: green;
  padding-left: 4px;
  border-radius: 5px;
  color: white;
}

.style-interest-pendiente {
  background: red;
  padding-left: 4px;
  border-radius: 5px;
  color: white;
}