<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <ion-icon name="logo-usd"></ion-icon>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total Capital</span>
        <br />
        <span class="info-box-number balancePago" *ngIf="balanceCapitalInterest">{{formatPrice(balanceCapitalInterest.totalCpaital)}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-blue">
        <ion-icon name="cash"></ion-icon>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total Intereses</span>
        <br />
        <span class="info-box-number balanceInteres" *ngIf="balanceCapitalInterest">{{formatPrice(balanceCapitalInterest.totalInterest)}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow">
        <ion-icon name="logo-usd"></ion-icon>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total dinero</span>
        <br>
        <span class="info-box-number cuotas"*ngIf="balanceCapitalInterest">{{formatPrice(balanceCapitalInterest.total)}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>
<hr>
<hr>
<div class="row">
  <div class="col-lg-12 col-md-12" style="margin-bottom: 40px;">
    <!-- (click)="openModal('show-md-create-payment',null)" -->
    <div class="btn-loan">
      <button id="lblLoan" (click)="openModal('md-create-or-update-expenses-icomes', 'create')"
        style="background-color: #0073b7; font-weight : bold;" class="btn btn-primary btn-xs">Crear
        Registros</button>
    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="prueba">
    <div *ngIf="!spinner; else spinnerload" class="col-md-12 col-lg-12 col-xs-12">
      <table id="table" datatable [dtOptions]="dtOptions" datatable class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 3%">
              ID
            </th>
            <th style="width: 10%">
              Fecha registro
            </th>
            <th style="width: 15%">
              Valor Entrada
            </th>
            <th style="width: 15%">
              Valor Salida
            </th>
            <th style="width: 15%">
              Tipo
            </th>
            <th style="width: 15%; text-align: center;">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of prueba; let i = index">
            <td>{{i + 1}}</td>
            <!-- <td>{{ item.date | date: "yyyy" }}-{{item.date | date: "MM"}}-{{ item.date | date: "dd" }}</td> -->
            <td>{{formatDate(item.date)}}
            <td>{{item.income | number: "1.2-2"}}</td>
            <td>{{item.expenses | number: "1.2-2"}}</td>
            <td *ngIf="item.type == 0; else templatesalida"><div class="registro-entrada"> Entrada</div></td>
            <td style="display: inline-flex; margin-left: 31%;">
              <a style="margin-right: 2px; margin-left: 25px;" type="button" (click)="getExpensesIncomesById(item._id)" class="btn  btn-xs btn-primary edit mr-2" title="Editar Registro"
                data-target="#exampleModal"> <span
                  class="glyphicon glyphicon-edit button-magin"></span>
              </a>
              <!-- <a type="button" class="btn btn-xs btn-danger delete button-magin" title="Eliminar Registro">
                <span class="span glyphicon glyphicon-trash"></span>
              </a> -->
            </td>
          </tr>
          <ng-template #templateentrada>
            <td>
              <div class="registro-entrada"> Entrada</div>
            </td>
          </ng-template>
          <ng-template #templatesalida>
            <td>
              <div class="registro-salida"> Salida</div>
            </td>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #spinnerload>
    <div style="margin-left: 50%; margin-top: 13%;" class="loader"></div>
  </ng-template>
</div>

<div class="modal" id="md-create-or-update-expenses-icomes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de entradas o salidas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formExpIcom" (ngSubmit)="CreateOrUpdate()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="formGroupExampleInput">Fecha registro de dinero</label>
                <input type="date" class="form-control" id="exampleInput" name="input" formControlName="dateIncome"
                  placeholder="YYYY-MM-DD" required />
                <!-- error block -->
                <div class="alert-danger" *ngIf="isSubmitted && dateIncome.errors?.required && dateIncome.touched ">
                  <sup>*</sup>Por favor selecciona una fecha.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="formGroupExampleInput">Monto</label>
                <input id="amoutn" type="text" (keyup)="format($event)" class="form-control" formControlName="amount"
                  id="valor-momto" placeholder="Ingrese el monto">
              </div>
              <!-- error block -->
              <div class="alert-danger" *ngIf="isSubmitted && amount.errors?.required && amount.touched">
                <sup>*</sup>Por favor ingresa un monto.
              </div>
              <div class="alert-danger" *ngIf="isSubmitted && amount.errors?.pattern  && amount.touched">
                <sup>*</sup>Solo se admiten números.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="formGroupExampleInput">Descripción</label>
                <textarea class="form-control z-depth-1" formControlName="note" id="exampleFormControlTextarea6"
                  rows="3" placeholder="Escribe la descripción del para este registro..."></textarea>
              </div>
              <div class="alert-danger" *ngIf="isSubmitted && note.errors?.required  && note.touched">
                <sup>*</sup>Por favor ingresa una breve descripción.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Tipo de registro</label>
                <select class="form-control" formControlName="type" name="">
                  <option value="">Seleccione un tipo de entrada</option>
                  <option *ngFor="let type of typeIcome; let i = index" [ngValue]="i"
                    (change)="changetypeIcome($event)">{{type}}
                  </option>
                </select>
              </div>
              <!-- error block -->
              <div class="alert-danger" *ngIf="isSubmitted && type.errors?.required && type.touched">
                <sup>*</sup>Por favor elige un tipo de entrada.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- (click)="createPayment()" -->
            <button type="button" class="btn btn-sm btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
            <button type="button" type="submit" class="btn btn-primary btn-xs"><i *ngIf="flagPreload"
                class="fa fa-spinner fa-spin"></i> Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
