<div class="row ">
  <div class="col-md-12">
    <div>
      <p *ngIf="nameUser" class="name-user">Cliente: {{nameUser}}</p>
    </div>
    <div class="btn-loan">
      <button (click)="modal()" class="btn btn-primary test  btn-xs">Crear Prestamo</button>
    </div>
    <div class="row">
      <div  class="container col-lg-12">
        <div *ngIf="message" class="alert alert-info alert-dismissible">
          <a href="#" (click)="closeAlet()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Información pagos!</strong> {{message}}
      </div>
    </div>
    </div>
    <div *ngIf="!spinner; else spinnerload">
    <div class="table-responsive">
      <!-- *ngIf="show_table" -->
      <table *ngIf="show_table"  id="example" #ref datatable [dtOptions]="dtOptions"
        class="table table-striped table-bordere table-responsive">
        <thead>
          <tr>
            <th style="width: 3%">ID</th>
            <th style="width: 20%">
              Fecha Prestamo
            </th>
            <th style="width: 20%">
              Valor
            </th>
            <th style="width: 20%">
              Tasa interes
            </th>
            <th style="width: 20%">
              Estado
            </th>
            <th style="width: 20%">
              Fecha Cancelacion
            </th>
            <th style="width: 50%">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of loans; let i = index">
            <td>{{i+1}}</td>
            <!-- <td>{{item.dateLoan | date: 'yyyy'}}-{{item.dateLoan | date:'MM'}}-{{item.dateLoan | date: 'dd'}}</td> -->
            <td>{{formatDate(item.dateLoan)}}</td>
            <td>{{item.amount | number:'1.2-3'}}</td>
            <td>{{item.rateInterest}} %</td>
            <!-- <td>{{ statusLoan(item.statusLoan)}}</td> -->
            <td *ngIf="statusLoan(item.statusLoan)=='Pagado'; else thenBlock2">
              <div class="style-interest-pagado"> Pagado</div>
          </td>
            <td>{{item.finishedDatePayment}}</td>
            <td style="display: inline-flex">
              <a type="button" class="btn  btn-xs btn-primary edit mr-2" title="Editar Prestamo"
                (click)="viewLoan(item._id)" data-target="#exampleModal"> <span
                  class="glyphicon glyphicon-edit button-magin"></span>
              </a>
              <a type="button" class="btn  btn-xs btn-info payment button-magin" title="Ver cuotas de pago"
                data-target="#exampleModal" (click)="goToPage(item._id)">
                <span class="glyphicon glyphicon-usd"></span></a>
              <a type="button" class="btn btn-xs btn-danger delete button-magin" title="Eliminar Prestamo">
                <span class="span glyphicon glyphicon-trash"></span>
              </a>
            </td>
            <ng-template #thenBlock2>
              <td>
                  <div class="style-interest-pendiente"> Pendiente</div>
              </td>
          </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>
</div>
<ng-template #spinnerload>
  <div style="margin-left: 50%; margin-top: 13%;" class="loader"></div>
</ng-template>

<div class="modal" id="show-md-crea-loan" data-toggle="modal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Prestamo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formLoan="ngForm">
          <div class="form-group">
            <label for="formGroupExampleInput">Fecha Prestamo</label>
            <div style="cursor: pointer;" class='input-group date' id='datetimepicker1'>
              <input style="cursor: pointer;" type='text' id="loan-date" name="dateLoan" #name="ngModel" [(ngModel)]="loan.dateLoan"
                class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Valor Prestamo</label>
            <input id="amoutn" type="text" (keyup)="format($event)" class="form-control" name="amount"
              #name="ngModel" [(ngModel)]="loan.amount" id="valor-prestamo" placeholder="Valor Prestamo">
          </div>
          <div class="form-group">
            <label for="">Tasa de interes</label>
            <select class="form-control" (change)="changeinterest($event)" name="rateInterest" #name="ngModel"
              [(ngModel)]="loan.rateInterest">
              <option value="0">Seleccione el Interes</option>
              <option value="{{item}}" *ngFor="let item of rateInterest let index">{{index}} %
              </option>
            </select>
          </div>
          <div *ngIf="!idUser" class="form-group">
            <label>Selecciona el cliente</label>
            <ng-select *ngIf="cliente" [items]="cliente" bindLabel="name" placeholder="Seleccione el cliente" [multiple]="false"
              maxSelectedItems="3" (add)="onAdd($event)" (change)="onChange($event)">
            </ng-select>
          </div>
          <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Descripción del prestamo</label>
            <textarea class="form-control z-depth-1" name="description" [(ngModel)]="loan.description"
              id="exampleFormControlTextarea6" rows="3" placeholder="Escribe la descripción del prestamo..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin"></i> Loading</button> -->
        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="createLoan()" class="btn btn-primary  btn-xs"><i *ngIf="flagPreloadSave"
            class="fa fa-spinner fa-spin"></i> Registrar</button>
      </div>
    </div>
  </div>
</div>
<ng-template #preload>
  <div class="spinner-border text-primary loader" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>



<div class="modal" id="show-md-view-loan" data-toggle="modal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del préstamo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formLoan="ngForm">
          <div class="form-group">
            <label for="formGroupExampleInput">Fecha Prestamo</label>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' id="loan-date" name="dateLoan" #name="ngModel" [(ngModel)]="loan.dateLoan"
                class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Valor Prestamo</label>
            <input id="amoutn" type="text" (keyup)="format($event)" class="form-control" name="amount"
              #name="ngModel" [(ngModel)]="loan.amount" id="valor-prestamo" placeholder="Valor Prestamo">
          </div>
          <div class="form-group">
            <label for="">Tasa de interes</label>
            <select class="form-control" (change)="changeinterest($event)" name="rateInterest" #name="ngModel"
              [(ngModel)]="loan.rateInterest">
              <option value="0">Seleccione el Interes</option>
              <option value="{{item}}" *ngFor="let item of rateInterest let index">{{index}} %
              </option>
            </select>
          </div>
          <div *ngIf="!idUser" class="form-group">
            <label>Selecciona el cliente</label>
            <ng-select [items]="cliente" bindLabel="name" placeholder="Seleccione el cliente" [multiple]="false"
              maxSelectedItems="3" (add)="onAdd($event)" (change)="onChange($event)">
            </ng-select>
          </div>
          <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Descripcion del prestamo</label>
            <textarea class="form-control z-depth-1" name="description" [(ngModel)]="loan.description"
              id="exampleFormControlTextarea6" rows="3" placeholder="Escribe la descripción del prestamo..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin"></i> Loading</button> -->
        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="createLoan()" class="btn btn-primary  btn-xs"><i *ngIf="flagPreloadSave"
            class="fa fa-spinner fa-spin"></i> Actualizar</button>
      </div>
    </div>
  </div>
</div>
