
.btn-loan {
    margin-bottom: 15px;
}

.button-magin {
    margin-left: 2px;
}

#select-loan {
    width: 100%;
}

.nameUser {
    padding: 4px;
}

.name-user {
  font-family: monospace;
  font-weight : bold;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.style-interest-pendiente {
  background: red;
  padding-left: 4px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.style-interest-pagado {
  background: #28a745;
  padding-left: 4px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 450px) {
  .loader {
    margin-left: 31% !important;
    margin-top: 93px !important;
  }
}
