<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div  class="container col-lg-12">
        <div *ngIf="interes.status" class="alert alert-{{interes.type}} alert-dismissible">
          <a href="#" (click)="closeAlet()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Información intereses pendientes!</strong> {{interes.message}}
      </div>
    </div>
  </div>
    <!----
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
    ---->
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <router-outlet></router-outlet>
    <!--------------------------
        | Your Page Content Here |
        -------------------------->

  </section>
  <!-- /.content -->
</div>
