
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="loginUser" (ngSubmit)="onSubmit()">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required autofocus>
            <!-- Validations -->
            <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="conatiner-error-message" *ngIf="email.errors.required">
                    El email es requerido
                </div>
                <div class="conatiner-error-message" *ngIf="email.errors.pattern">
                    El email es invalido
                </div>
            </div>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
            <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="conatiner-error-message" *ngIf="password.errors.required">
                    La contraseña es requerida
                </div>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingreasar</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
        <div class="alert-danger" *ngIf="islogin">
            <div class="conatiner-error-message">
                {{message}}
            </div>
        </div>
    </div><!-- /card-container -->
</div><!-- /container -->
