<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="btn-loan">
            <button id="lblLoan" (click)="showModalPayment()" class="btn btn-primary">Crear Pago</button>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <table #dataTable id="table-payment" class="display table table-striped table-bordered" style="width:100%;">
            <thead style="text-align: center;">
                <tr>
                    <th>Pagos</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha Pago</th>
                    <th style="text-align: center;">Valor</th>
                    <th style="text-align: center;">Interes</th>
                    <th style="text-align: center;">Balance</th>
                    <th style="text-align: center;">Fecha Prox Pago</th>
                    <th style="text-align: center;">Estado Pago</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">

            </tbody>

        </table>
    </div>
    
</div>