<div class="row" [hidden]="!cuotas">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <ion-icon name="logo-usd"></ion-icon>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Balance</span>
                <br>
                <span class="info-box-number balancePago">{{balancePago | number:'1.2-2'}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-blue">
                <ion-icon name="cash"></ion-icon>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Intereses</span>
                <br>
                <span class="info-box-number balanceInteres">{{balanceInteres | number:'1.2-2'}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <ion-icon name="logo-usd"></ion-icon>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Total cuotas Pagadas</span>
                <br>
                <span class="info-box-number cuotas">{{cuotas}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
<div class="row">
    <div  class="col-lg-12 col-md-12" style="margin-bottom: 40px;">
        <div class="btn-loan">
            <button id="lblLoan" (click)="openModal('show-md-create-payment',null)" style="background-color: #0073b7; font-weight : bold;"
                class="btn btn-primary btn-xs">Crear Pago</button>
        </div>
    </div>
    <div class="container">
        <p *ngIf="nameUser"><span class="label label-success nameUser">Cliente: {{nameUser}}</span></p>
    </div>
</div>
<div *ngIf="!spinner; else spinnerload" class="row" style="margin-left: 5px; margin-right: 5px;">
    <div class="col-md-12 col-lg-12 col-xs-12 table-responsive">
        <table id="tablePayment" #ref datatable [dtOptions]="dtOptions"
            class="tabla_sin table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 3%">
                        ID
                    </th>
                    <th style="width: 10%">
                        Fecha Pago
                    </th>
                    <th style="width: 15%">
                        Valor Pagado
                    </th>
                    <th style="width: 12%">
                        Interes
                    </th>
                    <th style="width: 10%">
                        Fecha Cuota
                    </th>
                    <th style="width: 15%">
                        Balance Prestamo
                    </th>
                    <th style="width: 11%">
                        Estado Pago
                    </th>
                    <th style="width: 160px;text-align: center;width: 80%;">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="altura" *ngFor="let item of payments;let i = index">
                    <td>{{i+1}}</td>
                    <td *ngIf="item.dateDeposit == 'null' || item.dateDeposit == null; else thenBlock">Pendiente</td>
                    <td>{{item.amount | number:'1.2-3'}}</td>
                    <td>{{item.interest | number:'1.2-3'}}</td>
                    <td>{{item.nextDatePayment | date: 'yyyy'}}-{{item.nextDatePayment | date:'MM'}}-{{item.nextDatePayment | date: 'dd'}}
                    </td>
                    <td>{{item.balanceLoand | number:'1.2-2'}}</td>
                    <td *ngIf="statusPaymenDate(item.statusDeposit)=='Pagado'; else thenBlock2">
                        <div class="style-interest-pagado"> Pagado</div>
                    </td>
                    <td style="display: inline-flex">
                        <div style="margin-left: 60px;">
                            <a type="button" class="btn btn-xs btn-primary edit mr-2 cursor-interes"
                                (click)="goTo(item._id)" title="Ver intereses pendientes"
                                style="margin-right: 2px" data-target="#exampleModal">
                                <span class="glyphicon glyphicon-briefcase button-magin">
                                </span>
                            </a>
                            <a type="button" class="btn btn-xs btn-primary edit mr-2 cursor-pinter"
                                title="Actualizar pago" (click)="editPayment('show-md-update-payment',item._id)"
                                data-target="#exampleModal">
                                <span class="glyphicon glyphicon-edit button-magin"> </span>
                            </a>
                            <a type="button" (click)="openModal('show-md-update-payment-normal',item._id)"
                                title="Pago Cuota" class="btn btn-xs btn-info payment button-magin cursor-pinter"
                                data-target="#exampleModal">
                                <span class="glyphicon glyphicon-usd"></span> </a>
                            <a type="button" class="btn btn-xs btn-danger delete button-magin cursor-pinter"
                                title="Eliminar pago" (click)="openModal('confirm-delete',item._id)">
                                <span class="span glyphicon glyphicon-trash"> </span>
                            </a>
                        </div>
                    </td>
                    <ng-template #thenBlock>
                        <td>{{item.dateDeposit | date: 'yyyy'}}-{{item.dateDeposit | date:'MM'}}-{{item.dateDeposit | date: 'dd'}}
                        </td>
                    </ng-template>
                    <ng-template #thenBlock2>
                        <td>
                            <div class="style-interest-pendiente"> Pendiente</div>
                        </td>
                    </ng-template>
                </tr>
            </tbody>

        </table>
    </div>

</div>
<ng-template #spinnerload>
  <div style="margin-left: 50%; margin-top: 13%;" class="loader"></div>
</ng-template>

<!--Modal create  pago-->
<div class="modal" id="show-md-create-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formLoan="ngForm">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor Interes</label>
                        <input id="interes" type="text" (keyup)="format($event,'interes')" class="form-control"
                            name="interest" #name="ngModel" [(ngModel)]="paymentFull.interest"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Proxima Fecha Cuota</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' id="payment-next-date" name="nextDatePayment" #name="ngModel"
                                [(ngModel)]="paymentFull.nextDatePayment" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Balance Prestamo</label>
                        <input id="balanceLoand" type="text" (keyup)="format($event,'balance')" class="form-control"
                            name="balanceLoand" #name="ngModel" [(ngModel)]="paymentFull.balanceLoand"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="form-group">
                        <label for="">Estado Pago</label>
                        <select id="statusPayment" class="form-control" (change)="changeinterest($event)"
                            name="statusDeposit" #name="ngModel" [(ngModel)]="paymentFull.statusDeposit">
                            <option value="0">Seleccione el Estado</option>
                            <option value="{{item}}" *ngFor="let item of statusPayment let index">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor a Pagar</label>
                        <input id="amoutn" type="text" (keyup)="format($event,'amount-loan')" class="form-control"
                            name="amount" #name="ngModel" [(ngModel)]="paymentFull.amount"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                        <button  type="button" (click)="createPayment()" class="btn btn-primary btn-xs"><i *ngIf="flagPreload"
                          class="fa fa-spinner fa-spin"></i> Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal update pago-cuota-->
<div class="modal" id="show-md-update-payment-normal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formLoan="ngForm">
                    <div class="form-group">
                        <div class="checkbox checkbox-primary" (click)="activatedCheck()">
                            <input id="checkbox2" class="styled" type="checkbox" name="prueba">
                            <label for="checkbox2">
                                Pago total a la fecha
                            </label>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="validateTotalPayment">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Consulatar valor pago a la fecha: </label>
                                <button style="padding: 1px; padding-right: 3.2px;" (click) ="consultPaymentDate()" type="button" class="btn btn-primary btn-xs">Consultar</button>
                            </div>
                            <div class="col-md-6">
                                <span id="monto_fecha" style="display: inherit">  </span>
                                <span id="monto_total">  </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="formGroupExampleInput2">Ingraese el valor a pagar: </label>
                        <input id="amoutn" type="text" (keyup)="setFormat($event,'normal')" class="form-control"
                            name="amount" #name="ngModel" [(ngModel)]="paymentNormal.amount"
                            placeholder="Ingrese el valor a pagar">
                    </div> -->
                     <div class="form-group">
                        <label for="formGroupExampleInput2">Ingraese el valor a pagar: </label>
                        <input id="amoutn" type="text" (keyup)="format($event,'normal')"  class="form-control"
                            name="amount" #name="ngModel" [(ngModel)]="paymentNormal.amount"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Fecha Registro</label>
                      <div style="cursor: pointer;" class='input-group date' id='dateRegistry'>
                        <input style="cursor: pointer;" type='text' id="payment-date-registry" name="dateLoan"
                          class="form-control" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="checkbox checkbox-primary" (click)="activatedCheckNewPayent()">
                            <input id="checkbox3" class="styled" type="checkbox" name="new-payment">
                            <label for="checkbox3">
                               Programar nueva cuota
                            </label>
                        </div>
                    </div>
                    -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                        <button type="button" (click)="updatePaymentNormal()" class="btn btn-primary btn-xs"><i *ngIf="flagPreload"
                          class="fa fa-spinner fa-spin"></i> Registrar
                            Pago</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal para actualizar un pago-->
<div class="modal" id="show-md-update-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formLoan="ngForm">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Fecha Cuota</label>
                        <div class='input-group date cursor' id='datetimepicker1'>
                            <input type='text' id="payment-date" name="dateDeposit" #name="ngModel"
                                [(ngModel)]="paymentFull.dateDeposit" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor Interes</label>
                        <input id="interes" type="text" (keyup)="setFormat($event,'interes')" class="form-control"
                            name="interest" #name="ngModel" [(ngModel)]="paymentFull.interest"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Proxima Fecha Cuota</label>
                        <div class='input-group date cursor' id='datetimepicker3'>
                            <input type='text' id="payment-next-date1" name="nextDatePayment" #name="ngModel"
                                [(ngModel)]="paymentFull.nextDatePayment" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Balance Prestamo</label>
                        <input id="balanceLoand" type="text" (keyup)="setFormat($event,'balance')" class="form-control"
                            name="balanceLoand" #name="ngModel" [(ngModel)]="paymentFull.balanceLoand"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="form-group">
                        <label for="">Estado Pago</label>
                        <select id="statusPayment" class="form-control" (change)="changeinterest($event)"
                            name="statusDeposit" #name="ngModel" [(ngModel)]="paymentFull.statusDeposit">
                            <option value="0">Seleccione el Estado</option>
                            <option value="{{item}}" *ngFor="let item of statusPayment let index">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor a Pagar</label>
                        <input id="amoutn" type="text" (keyup)="setFormat($event,'full')" class="form-control"
                            name="amount" #name="ngModel" [(ngModel)]="paymentFull.amount"
                            placeholder="Ingrese el valor a pagar">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                        <button type="button" (click)="updatePayment()" class="btn btn-primary btn-xs"><i *ngIf="flagPreload"
                          class="fa fa-spinner fa-spin"></i> Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal delete-->
<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="margin-top: 10em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <P>Eliminar pago</P>
            </div>
            <div class="modal-body">
                <p><button class="btn btn-sm btn-danger btn-ok"><span class="span glyphicon glyphicon-trash"></span></button>
                    Esta seguro que desea eliminar este registro!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary  btn-xs btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary  btn-xs btn-danger btn-ok" (click)="deletePayment()"><i *ngIf="flagPreload"
                  class="fa fa-spinner fa-spin"></i> <span class="span glyphicon glyphicon-trash">
                    </span> Eliminar</a>
            </div>
        </div>
    </div>
</div>
<!--Modal data interest-pending-->
<div class="modal" style="width: 100%;" id="show-md-interest-pending" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Intereses Pendientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
